.carousel {    
  margin: 30px 80px;
  background-color: #fff;
  padding: 20px;
}

.searchDiv{
  height: auto;
  border: 1px solid #ccc;
}

.searchDiv div:first-child{
  margin-top: 20px;
}

.search{
  padding: 0 30px;
  margin: 5px auto;
}

.select{
  width: auto;
  height: 30px;
}

.btn {
  margin-left: 20%;
}

.page{
  position: absolute;
  right: 100px;
  margin-top: 15px;
}

.tableDiv{
  margin-top: 30px;
  height: 520px;
}
