.carousel {
  margin: 20px;
  background-color: #fff;
  padding: 10px 20px;
}

.text{
  width: 250px;
  border: 1px solid #6291c1;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  margin-right: 10px;
  text-indent: 10px;
}

.search{
  margin: 10px auto;
  font-size: 14px;
}

.label{
  font-size: 16px;
  margin-right: 5px;
}

.select{
  width: auto;
  height: 30px;
}

.tableDiv{
}


.table{
  width: 100%;
  font-size: 16px;
}

.th, .td{
  height: auto;
  padding: 10px 5px;
  text-align: center;
  font-size: 14px;
}

.th{
  background-color: #d6e2f8;
  color: #3e5898;
}

.tr:hover{
  background-color: #ebeff8;
}

.borderall td, .borderall th{
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.borderall td:last-child, .borderall th:last-child{
  border-right: 1px solid #ccc;
}
