.right{
    width: 100%;
    height: 100%;
}

.search{
    width: 100%;
    padding: 20px 70px;
}

.label {
    font-size: 14px;
    margin-left: 10px;
}

.text{
    width: 230px;
    border: 1px solid #6291c1;
    border-radius: 5px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    margin-right: 10px;
    text-indent: 10px;
}

.page{
    text-align: right;
    margin-top: 30px; 
}

.tableDiv{
    padding: 0 80px 40px 80px;
}

.delete{
    color: #ef7672;
    cursor: pointer;
}

.downLoad {
    color: #497eb0;
    cursor: pointer;
}
